torch
torchvision
pandas
setuptools
matplotlib
mplfinance
yfinance
opencv-python
tqdm
pyyaml
plotly
streamlit
streamlit_autorefresh
tensorflow==2.13.0
scikit-learn==1.4.2
arch
numpy==1.24.3
google-generativeai
ta
requests
python-dotenv
alpaca-trade-api
alpha_vantage==2.3.1